<div class="modal-header">
  <button ng-if="vm.modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="vm.modal.title" ng-bind="vm.modal.title" class="modal-title"></h4>
</div>
<div class="modal-body">
  <p ng-if="vm.modal.text" ng-bind="vm.modal.text"></p>
  <div ng-if="vm.modal.html" ng-bind-html="vm.modal.html"></div>
</div>
<div class="modal-footer">
  <button ng-repeat="button in vm.modal.buttons" ng-class="button.classes" ng-click="button.click($event)"
          ng-bind="button.text" class="btn"></button>
</div>
