<div class="container">
  <!-- vacancyList -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">Vacancies</h2>
    </div>
  </div>
  <div ng-if="vm.vacancyList.length===0" class="text-center">
    <h3>No vacancies</h3>
  </div>
  <div ng-if="vm.vacancyList.length>0" class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <th>#</th>
          <th>Category</th>
          <th>City</th>
          <th>Company</th>
          <th>Title</th>
          <th>Salary</th>
          <th>Actions</th>
          </thead>
          <tbody>
          <tr ng-repeat="item in vm.vacancyList">
            <td>{{ $index + 1 }}</td>
            <td>{{ item.category }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.company }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.salary ? item.salary : (item.salaryRange.from + ' - ' + item.salaryRange.to ) }}</td>
            <td><a class="label label-danger" ng-click="vm.removeVacancy(item)">Delete</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- subscriptionsList -->
  <div class="row">
    <div class="col-xs-12">
      <h2 class="page-header">Subscriptions</h2>
    </div>
  </div>
  <div ng-if="vm.subscriptionsList.length===0" class="text-center">
    <h3>No subscriptions</h3>
  </div>
  <div ng-if="vm.subscriptionsList.length>0" class="row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <th>#</th>
          <th>Email</th>
          <th>Categories</th>
          <th>City</th>
          <th>Salary</th>
          <th>Actions</th>
          </thead>
          <tbody>
          <tr ng-repeat="item in vm.subscriptionsList">
            <td>{{ $index + 1 }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.categories ? item.categories.join(', ') : '' }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.salaryRange.from + ' - ' + item.salaryRange.to }}</td>
            <td>
              <a class="label label-success" ng-click="vm.sendSubscription(item)">Send</a>
              <a class="label label-danger" ng-click="vm.removeSubscription(item)">Delete</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
