$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'directives/distribute/distribute.scss';
@import 'directives/subscription/subscription.scss';
@import 'main/main.scss';
@import '../components/modal/modal.scss';
// endinjector

.centered-panel {
  position: absolute;
  color: #fff;
  top: 113px;
  width: 420px;

  &.distribute-panel {
    left: 80px;
  }
  &.subscription-panel {
    right: 83px;
  }
}

.vh-100 {
  height: 100vh;
}

.custom-form {

  .form-control {
    background-color: transparent;
    border-radius: 4px;
    padding: 10px;
    height: 52px;
    line-height: 50px;
    color: #fff;
    &::-webkit-input-placeholder {
      color: #fff;
    }
    &::-moz-placeholder {
      color: #fff;
    }
    /* Firefox 19+ */
    &:-moz-placeholder {
      color: #fff;
    }
    /* Firefox 18- */
    &:-ms-input-placeholder {
      color: #fff;
    }
  }

  .input-group-addon, .form-control {
    border: 2px solid rgba(201, 201, 201, 0.25);
  }

  select {
    &.form-control {
      option {
        color: #333;
      }
    }
  }

  .vertical-input-group {
    .input-group {
      .form-control {
        border-left: none;
        padding-left: 0;
        &:focus {
          box-shadow: none;
        }
      }

      .input-group-addon {
        background: none;
        border-right: none;
        .fa {
          font-size: 18px;
          color: #fff;
          width: 26px;
          text-align: right;
        }
      }
    }

    .input-group:first-child:not(:last-child) {
      .form-control {
        border-radius: 0 8px 0 0;
        border-left: none;
      }
      .input-group-addon {
        border-radius: 8px 0 0 0;
      }
    }

    .input-group:not(:first-child):not(:last-child) {
      .form-control {
        border-radius: 0;
        border-top: none;
      }
      .input-group-addon {
        border-radius: 0;
        border-top: none;
      }
    }

    .input-group:last-child:not(:first-child) {
      .form-control {
        border-top: none;
        border-radius: 0 0 4px 4px;
      }
      .input-group-addon {
        border-top: none;
        border-radius: 0 0 0 8px;
      }
    }
  }
}

.container-full {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.c-btn {
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 22px;
}

.custom-modal {
  .modal-dialog {
    margin-top: 70px;
  }
  .close {
    right: -35px;
    position: absolute;
    color: #fff;
    opacity: 1;
    top: -35px;
    font-size: 35px;
  }
  .modal-header {
    background: #3299db;
    color: #fff;
    .modal-title {
      text-align: center;
    }
  }
}

.custom-backdrop {

}
