#modal__distribute-vacancy {

  input[type="text"], input[type="number"] {
    border: none;
    border-bottom: 1px solid #cccccc;
    border-radius: 0;
    box-shadow: none;
  }

  [text-angular] {
    margin-top: 50px;

    [text-angular-toolbar] {
      padding-left: 150px;
    }
  }

}