<div class="centered-panel distribute-panel custom-form">
  <form ng-submit="vm.formSubmit()">
    <div class="form-group">
      <h2 class="text-right">
        Distribute your vacancy to all subscribers
      </h2>
    </div>
    <div class="vertical-input-group">

      <div class="input-group" uib-dropdown auto-close="outsideClick">
        <span class="input-group-addon"><i class="fa fa-bars" aria-hidden="true"></i></span>
        <input type="text" class="form-control" ng-model="vm.model.category" required uib-dropdown-toggle
               placeholder="Select category...">
        <ul class="dropdown-menu category-menu" uib-dropdown-menu>
          <li ng-class="{ 'active' : vm.model.category.indexOf(category) >= 0 }"
              ng-click="vm.toggleCategorySelected(category)" ng-repeat="category in vm.data.categoryList">
            {{ category }}
          </li>
        </ul>
      </div>

      <div class="input-group" uib-dropdown auto-close="outsideClick">
        <span class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
        <input type="text" class="form-control" ng-model="vm.model.city" required uib-dropdown-toggle
               placeholder="Select city...">
        <ul class="dropdown-menu category-menu" uib-dropdown-menu>
          <li ng-class="{ 'active' : vm.model.city.indexOf(city) >= 0 }"
              ng-click="vm.toggleCitySelected(city)" ng-repeat="city in vm.data.cityList">
            {{ city }}
          </li>
        </ul>
      </div>

      <div class="input-group" uib-dropdown auto-close="outsideClick">
        <span class="input-group-addon"><i class="fa fa-signal" aria-hidden="true"></i></span>
        <input type="text" class="form-control" ng-model="vm.model.salaryRange.title" required uib-dropdown-toggle
               placeholder="Salary">
        <ul class="dropdown-menu category-menu" uib-dropdown-menu>
          <li ng-class="{ 'active' : vm.model.salary.indexOf(salary) >= 0 }"
              ng-click="vm.toggleSalarySelected(salary)" ng-repeat="salary in vm.data.salaryList">
            {{ salary.title }}
          </li>
        </ul>
      </div>

      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
        <input type="email" class="form-control" placeholder="Email" ng-model="vm.model.email" required>
      </div>
    </div>
    <button class="btn btn-danger pull-right c-btn" type="submit">Add vacancy and distribute</button>
  </form>
</div>
